body {
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #00FF00;
    text-align: center;
    padding: 0px;
}

.terminal {
    background-color: #000;
    color: #00FF00;
    border: 2px solid #00FF00;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.terminal-header {
    background-color: #9b2a2a;
    color: #00FF00;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.header-icon {
    margin-right: 10px; 
    height: 50px; 
    width: auto; 
}

.terminal-content {
    text-align: left;
    background-color: #000;
    border-radius: 3px;
    margin-bottom: 10px;
}

.hand {
    margin: 5px 0;
    padding: 5px;
    background-color: #000;
    border-radius: 3px;
    color: #00FF00;
}

.terminal-controls {
    text-align: center;
    margin-top: 10px;
}

.btn {
    background-color: #00FF00;
    color: #000;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #009900;
}

.terminal-footer {
    margin-top: 10px;
}

span {
    display: inline-block;
    margin-right: 10px;
}

strong {
    color: #00FF00;
}

#hit-button {
    background-color: gray;
}

#hit-button:enabled {
    background-color: #4CAF50; 
    cursor: pointer;
}

.card-image {
    width: 80px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Space between cards */
}

