body {
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #00FF00;
    text-align: center;
    padding: 0px;
}

.terminal {
    background-color: #000;
    color: #00FF00;
    border: 2px solid #00FF00;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.terminal-header {
    background-color: #9b2a2a;
    color: #00FF00;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#login-container input, #login-container button {
    margin: 10px;
    padding: 10px;
    width: 200px;
}


.header-icon {
    margin-right: 10px; 
    height: 50px; 
    width: auto; 
}

.terminal-content {
    text-align: left;
    background-color: #000;
    border-radius: 3px;
    margin-bottom: 10px;
}

.hand {
    margin: 5px 0;
    padding: 5px;
    background-color: #000;
    border-radius: 3px;
    color: #00FF00;
}

.terminal-controls {
    text-align: center;
    margin-top: 10px;
}

.btn {
    background-color: #00FF00;
    color: #000;
    border: none;
    font-size: 0.8em;
    border-radius: 3px;
    padding: 5px 6px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #009900;
}

.terminal-footer {
    margin-top: 10px;
}

span {
    display: inline-block;
    margin-right: 10px;
}

strong {
    color: #00FF00;
}

#hit-button {
    background-color: gray;
}

#hit-button:enabled {
    background-color: #4CAF50; 
    cursor: pointer;
}

.card-image {
    width: 80px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Space between cards */
}
#funds-container {
    color: #00FF00;
    margin: 10px 0;
}

/* BETTING */
#betting-container {
    margin-bottom: 10px;
}

.bet-input {
    margin: 0 5px;
    width: 60px;
    color: #000;
    background-color: #fff;
    border: 1px solid #00FF00;
}

#placeBet {
    background-color: #4CAF50;
}

#placeBet:disabled {
    background-color: #444;
}

/* FLOATING CARDS */
.floating-cards {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Ensure it's behind the game content */
    overflow: hidden;
    pointer-events: auto; 
}

.card {
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 140px; /* Adjust size as needed */
    background-size: cover;
    transition: transform 0.5s ease;

}

.card1 {
    background-image: url('svg_playing_cards/backs/abstract/abstract_clouds.png');
    /* Set initial position */
    left: 10%;
    top: 20%;
}
.card2 {
    background-image: url('svg_playing_cards/backs/abstract/abstract_scene.png');
    /* Set initial position */
    left: 30%;
    top: 47%;
}
.card3 {
    background-image: url('svg_playing_cards/backs/abstract/abstract.png');
    /* Set initial position */
    left: 40%;
    top: 60%;
}
.card4 {
    background-image: url('svg_playing_cards/backs/abstract/astronaut.png');
    /* Set initial position */
    left: 34%;
    top: 40%;
}

.card5 {
    background-image: url('svg_playing_cards/backs/abstract/cars.png');
    /* Set initial position */
    left: 30%;
    top: 10%;
}
.card6 {
    background-image: url('svg_playing_cards/backs/abstract/castle.png');
    /* Set initial position */
    left: 5%;
    top: 60%;
}
.card7 {
    background-image: url('svg_playing_cards/backs/abstract/fish.png');
    /* Set initial position */
    left: 80%;
    top: 40%;
}
.card8 {
    background-image: url('svg_playing_cards/backs/abstract/frog.png');
    /* Set initial position */
    left: 80%;
    top: 10%;
}

#coin-animation {
    width: 16px; /* Width of one frame */
    height: 16px; /* Height of one frame */
    background-image: url('coin1_16x16.png'); /* Path to your sprite sheet */
    background-repeat: no-repeat;
    animation: spinCoin 0.5s steps(10) infinite; /* Adjust steps(10) to match the number of frames in your sprite sheet */
}

@keyframes spinCoin {
    from { background-position: 0px; }
    to { background-position: -160px; } /* This should be width of one frame multiplied by number of frames */
}

.game-message {
    color: white;
    text-align: center;
    margin-top: 10px;
    /* Add any additional styling as needed */
}

